  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">
      <a href="/dashboard">MyBlog</a>
    </div>
    <div class="nav-links">
      <a href="/dashboard">Dashboard</a>
      <a href="/myBlogs">My Blogs</a>
      <a href="/blogs">All Blogs</a>
      <a href="/blogs/create">Create Blog</a>
      <a href="/logout">Logout</a>
    </div>
  </nav>
